doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Conversatorios Cayetano
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        script(src='https://www.google.com/recaptcha/api.js' async='' defer='')
        //- script(async).
        //-     (function(h,o,t,j,a,r){
        //-     h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        //-     h._hjSettings={hjid:3659234,hjsv:6};
        //-     a=o.getElementsByTagName('head')[0];
        //-     r=o.createElement('script');r.async=1;
        //-     r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        //-     a.appendChild(r);
        //-     })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
    body
        header
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/logo_top-scaled.webp", alt="")
            h3 Descubre tu perfil
                br
                | psicológico en 
                span  5 preguntas
            .header__button
                button
                    h3 Empezar
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/click.webp", alt="")
        .bloque1
            h1 datos
                span psicologicos
                | .pe
            h2 Blog de Psicología
            p Generamos contenido exclusivo junto a expertos en Psico-Bienestar Integral, pensado especialmente para ti.
            .bloque1Opciones 
                h3.bloque1Options Todas 
                h3 Noticias 
                h3 Salud mental 
                h3 Bienestar 
                h3 Curiosidades
            .bloque1Cards
                .bloque1Items
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/item_image1.webp", alt="")
                    .bloque1ItemsDesc
                        
                .bloque1Items
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/item_image2.webp", alt="")
                .bloque1Items
                    img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/09/item_image3.webp", alt="")
        .bloque2
            h1 datospsicologicos.pe
            .bloque2Icons 

        .bloque3
        script(src="./js/script.js" async)
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")