@use 'base/variables' as v;
@use 'base/mixins' as m;

header {
    background-color: v.$tercero;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    @include m.desktop_1020 {
        flex-direction: row;
        justify-content: center;
        column-gap: 2rem;
        overflow: hidden;
        padding: 0;
        justify-content: space-between;
        padding-right: 2rem;
    }
    img {
        width: 20rem;
        height: auto;
        @include m.desktop_1020 {
            width: 30rem;
        }
    }
    h3 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        @include m.desktop_1020 {
            text-align: start;
        }
        span {
            font-weight: 800;
        }
    }
    .header__button {
        // background-color: green;
        display: flex;
        justify-content: center;
        button {
            width: auto;
            position: relative;
            border: none;
            background-color: v.$sexto;
            box-shadow: 2px 3px 5px 0px rgba(250,67,106,0.75);
            -webkit-box-shadow: 2px 3px 5px 0px rgba(250,67,106,0.75);
            -moz-box-shadow: 2px 3px 5px 0px rgba(250,67,106,0.75);
            border-radius: 1rem;
            h3 {
                margin: 0;
                padding: .5rem 2rem;
                font-size: 1.6rem;
                color: white;
            }
            img {
                position: absolute;
                width: 3rem;
                height: auto;
                bottom: -1rem;
                right: -1rem;
                animation: latidos 1s infinite;
            }
        }
    }
}

.desktopContainer {
    @include m.desktop_1020 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 1rem;
        h3 {
            margin: 0;
        }
    }
}

.headerImageDesktop {
    display: none;
    @include m.desktop_1020 {
        display: block;  
        width: 30rem; 
    }
} 